* {
    box-sizing: border-box;
  }

  head {
    height: 0%;
    margin: 0%;  
}

body {
    margin-top: 0%;
    display: flex;
    height: 350vh;
    width: auto;
    justify-content: center;
    background-color: #f5efed;

}

h1 {
    padding: 10em;
    padding-bottom: 0%;
    position: relative;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-top: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
    color: #0f0a0a;
    cursor: default;
}

h1:hover {
    background-color: #f45b69;
    color:#f5efed;
    padding-bottom: 0;
   
    }

.visitekaartjes {
    color:#509170 ;
    font-weight: bold;
}    


p {
    text-align: center;

}

/* animation van links */

@keyframes slideinleft {
    from {
    transform: translateX(-1100px);
    }
    to {
    transform: translateX(500px); 
    }
}

@keyframes slideinleft2 {
    from {
    transform: translateX(-2700px);
    }
    to {
    transform: translateX(-1100px);    
    }
}

/* animation van rechts */

@keyframes slideinright {
    from {
    transform: translateX(-1050px);
    }
    to {
    transform: translateX(-2650px); 
    }
}

@keyframes slideinright2 {
    from {
    transform: translateX(550px);
    }
    to {
    transform: translateX(-1050px); 
    }
}

/* slider animation 1 */

.tech-slideshow {
    animation-name: slideinleft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.tech-slideshow > div {
   background-image: url(2slide.jpg);
   position: absolute;
}

.slider {
    height: 22em;
    width: auto;
    position: absolute;
    top: 28em;
    background-color: #eae0dd;
    padding-top: 2em;
    padding-bottom: 2em;
}

.testhover1 {
    background-color: #f45b69
}
/* Slider follow animatie 1*/

.techsliderfollow {
    animation-name: slideinleft2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.techsliderfollow {
    background-image: url(2slide.jpg);
    position: absolute;
}

.sliderfollow {
    height: 22em;
    width: auto;
    position: absolute;
    top: 28em;
    background-color: #eae0dd;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Slider 2 animatie */

.tech-slideshow2 {
    animation-name: slideinright;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.tech-slideshow2 > div {
    background-image: url(1slide.jpg);
    position: absolute;

}

.slider1 {
    height: 22em;
    width: auto;
    position: absolute;
    top: 52em;
    background-color: #eae0dd;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* follow slider 2 */

.tech-sliderfollow1 {
    animation-name: slideinright2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.tech-sliderfollow1 > div {
    background-image: url(1slide.jpg);
    position: absolute; 
}

.slider1follow {
    height: 22em;
    width: auto;
    position: absolute;
    top: 52em;
    background-color: #eae0dd;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*animatie slider 3 */

.techslide3 {
    animation-name: slideinleft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}


.techslide3 {
    background-image: url(3slide.png);
    position: absolute;
}

.slider3 {
    height: 22em;
    width: auto;
    position: absolute;
    top: 76em;
    background-color: #eae0dd;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* follow slider */

.techslidefollow3 {
    animation-name: slideinleft2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.techslidefollow3 > div {
    background-image: url(3slide.png);
    position: absolute;
}

.slider3follow {
    height: 22em;
    width: auto;
    position: absolute;
    top: 76em;
    background-color: transparent;
    background-color: #eae0dd;
    padding-top: 2em;
    padding-bottom: 2em;
}

.slider3 :hover
.slider3follow :hover 
{
    background-color: #f45b69
}