* {
    box-sizing: border-box;
    margin: 0;
}

head {
    height: 0%;
    margin: 0%;
}

/* achtergrond */

body {
    margin-top: 0%;
    background-color: #f5efed;

}

/* titel font en grootte*/

h1 {
    position: relative;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-top: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
    color: #0f0a0a;
    cursor: default;
    transition: background-color 0.4s ease-out , color 0.4s ease-out;
}

/* hover over titel, kleur en achtergrond verandering */

h1:hover {
    background-color: #f45b69;
    color: #f5efed;
    padding-bottom: 0;
    margin-bottom: 0em;

}

.intro h1 {
    width: 100%;
}

/* link naar visitekaartje, font */

.visitekaartjes {
    color: #509170;
    font-weight: bold;
    padding-top: 1em;
}

/* paragraaf met namen */

p {
    text-align: center;
    padding-top: 2em;

}

/* animation van links */

@keyframes slideinleft {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(2010px);
    }
}

@keyframes slideinleft2 {
    from {
        transform: translateX(-2010px);
    }

    to {
        transform: translateX(0px);
    }
}

/* animation van rechts */

@keyframes slideinright {
    from {
        transform: translateX(2010px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideinright2 {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-2010px);
    }
}

@keyframes slideinleftbottom {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(2374px);
    }
}

@keyframes slideinleftbottom2 {
    from {
        transform: translateX(-2374px);
    }

    to {
        transform: translateX(0px);
    }
}


/* slider animation 1 */

.tech-slideshow {
    animation-name: slideinleft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.tech-slideshow {
    position: absolute;
}

/* follow slider animation 1 */

.techsliderfollow {
    animation-name: slideinleft2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.techsliderfollow {

    position: relative;
}

/* slider animation 2 */

.tech-slideshow2 {
    animation-name: slideinright;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.tech-slideshow2 {

    position: absolute;

}

/* followslider animation 2 */

.tech-sliderfollow1 {
    animation-name: slideinright2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.tech-sliderfollow1 {
    position: relative;
}

/* slider animation 3 */

.techslide3 {
    animation-name: slideinleftbottom;
    animation-duration: 23.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}


.techslide3 {

    position: absolute;
}

/* followslider animation 3 */

.techslidefollow3 {
    animation-name: slideinleftbottom2;
    animation-duration: 23.6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.techslidefollow3 {

    position: relative;
}

/* header, paragraaf*/

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-slideshow-container {
    position: relative;
    overflow-x: hidden;
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: #eae0dd;

    /* transition: background-color 0.4s ease-out, color 1s ease-out; */
    transition: background-color 0.4s ease-out;
}

.tech-slideshow-container:hover {
    background-color: #509170;
}

.tech-slideshow2-container {
    position: relative;
    overflow-x: hidden;
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: #eae0dd; 
    transition: background-color 0.4s ease-out;
}

.tech-slideshow2-container:hover {
    background-color: #f45b69;
}

.tech-slideshow3-container {
    position: relative;
    overflow-x: hidden;
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: #eae0dd;
    transition: background-color 0.4s ease-out;
}

.tech-slideshow3-container:hover {
    background-color: #59a5d8;
}

footer {
    position: relative;
    padding: 1.7em;
    background-color: #0f0a0a;
    color: #eae0dd;
}

