head {
    height: 200vh;
    
}

h1 {
    padding: 3em;
    padding-bottom: 0%;
    display: flex;
    position: relative;
    margin-bottom: 0em;
    margin-top: 0.5em;
    padding-left: 10em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
    color: #0f0a0a;
    cursor: default;

}

h1:hover {
    background-color: #f45b69;
    color:#f5efed;
    padding-bottom: 0;
    margin-bottom: 0em;
   
    }

.visitekaartjes {
    color:#509170 ;
    font-weight: bold;
}    


p {
    text-align: center;
    margin-top: 2;

}
 
@media screen  (min-width: 320px;)
    
{}

@media screen  (man-width: 1280px) 
    
{}